# --- .NET build ---
**/bin/
**/obj/
*.user
*.suo

# --- Node/Front ---
node_modules/
front/node_modules/
front/dist/
dist/
npm-debug.log*
yarn-error.log*

# --- Vite/Cache ---
front/.vite/
.vite/

# --- Sistema ---
.DS_Store
Thumbs.db

# --- Env/Configs locais (se existirem) ---
*.local.json
*.env
*.env.*
