@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background: url("/src/assets/imgs/gestao-imobiliaria.jpg") center center / cover no-repeat fixed;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.15); 
  pointer-events: none;
}
